.header {
  display: flex;
  justify-content: space-between;
  background-color: $gray_7;
  padding: 17px 30px;

  &--alt {
    background-color: transparent;
    border-bottom: 1px solid $gray_5;
  }

  &__logo {
    width: 92px;
    height: 16px;
  }
  &__link {
    display: flex;
    & > span {
      display: flex;
      padding-left: 8.8px;
      color: $acian_2;
      font-family: roboto;
      font-weight: 400;
    }
  }
}
