@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400&display=swap");

$red_1_rimac: #ef3340;

$acian_2: #6769ff;

$gray_1_titulos: #494f66;
$gray_2_paragraph: #676f8f;
$gray_3: #a3abcc;
$gray_4: #c5cbe0;
$gray_5: #e4e8f7;
$gray_6: #f0f2fa;

$gray_7: #f7f8fc;

$green_2: #43b748;

$lato: "Lato", sans-serif;
$roboto: "Roboto", sans-serif;
